body {
 padding-bottom: 20px;
}

#footer {
	margin-top: 19px;
	color: #777;
	border-top: 1px solid #e5e5e5;
}

.thumbnail {
	margin-bottom: 10px;
}

.page-header {
	border-bottom: none;
}

#featured{
	padding-top: 20px;
	background-color: #dddddd;
}

#games{
	margin-top: 20px;
	margin-bottom: 20px;
}

#featured .panel {
	padding: 0 20px;
}

#saasArea h3 {
	margin-bottom: 30px;
}

#clientsBand {
	margin-top: 20px;
	margin-bottom: 30px;	
}

body .modal-dialog {
  /*width: 900px;
  left: 420px;*/
  max-width: 100%;
  max-height: 100%;
  height:auto;
  margin-left:auto;
  margin-right:auto; 
}

#logoImage {
	margin-top: 25px;
	margin-bottom: 20px;
	
	width: 128px;
	height: 128px;
	border-radius: 64px;
	-webkit-border-radius: 64px;
	-moz-border-radius: 64px;
	background: url(img/slashman128.jpg) no-repeat;
	
}

.btn {
	margin-top: 5px;
	margin-left: 5px;
	font-family: 'BenchNine', sans-serif;
	font-size: medium;
}

.spaciousLabel {
	margin: 2px;
	display: inline-block;
}

.cardImage {
	display: block;
    height: auto;
    max-width: 100%;
}

.skillIcon {
	width: 32px;
	height: 32px;
	float: right;
}

.countryIcon {
	width: 24px;
	height: 24px;
	margin: 4px;
	float: right;
}

.linkIcon {
	margin: 4px;
}